<div *ngIf="selectedPatient; else noSelection">
  <h2>{{ selectedPatient.name }}</h2>
  <p>Email: {{ selectedPatient.email }}</p>
  <p>電話: {{ selectedPatient.phone }}</p>
  <p>生日: {{ selectedPatient.birthday }}</p>
  <div class="bulletin-board">
    <h3>留言</h3>
    <ul>
      <li *ngFor="let message of getMessages()">
        {{ message.date }}: <strong>{{ message.message }}</strong>
      </li>
    </ul>
  </div>
  <p>Medication: {{ selectedPatient.medications }}</p>
  <h3>需服藥品</h3>
</div>

<ng-template #noSelection>
  <p>點選列表並選擇病人</p>
</ng-template>
